[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
"bs4" = "*"
flask-moment = "*"
flask-sqlalchemy = "*"
frozen-flask = "*"
pytz = "*"
python-dotenv = "*"
python-dateutil = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
